@charset "UTF-8";

:root {
    --font1: verdana, Geneva, Tohoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


html, body {
    font-family: var(--font1);
    min-width: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {

    font-family: var(--font2);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}
 

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-size: 3.5vw;
    font-family: var(--font3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.462);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.56);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem> p  {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.487);
    text-shadow: 1px 1px 0px black;
}

section#img001{
    background-image: url('imagens/background001.jpg');
    
   
}

section#img002 {
    background-image: url('imagens/background002.jpg');
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}